*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Righteous', sans-serif;
}

#gameBoard{
    display: flex;
    width:60%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top:30px;
    margin-bottom:30px;

}
.card{
    width: 140px;
    height: 140px;
    position: relative;

    transform-style: preserve-3d;
    transition: transform .5s;
    

    margin:10px;

}
.card_back, .card_front{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.card_front{
    transform: rotateY(180deg);
    background-color: #101c2c;
}
.card_back{
    color:#101c2c;
    background-color: #05c3ff;
    font-size: 30px;

    /* display: none; */

}





#gameOver{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 50px;
    text-align: center;

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    top:0;
}

#restart{
    padding:10px;
    font-size:20px;
    background-color: rgb(255, 196, 0);
    border:none;
    border-radius: 10px;
    box-shadow: inset 5px 5px 3px rgba(255, 217, 0, 0.562);
    margin-top:15px;
    /* font-weight: bold; */
    font-family: 'Franklin Gothic Medium', sans-serif;


    
    
}


#seta{
    display: block;
    margin: 0 auto;
    margin-top:5px;
   
}







@media(max-width:500px){
    #gameOver{
        font-size:25px;
    }
    #restart{
        font-size: 17px;
        padding: 6px;   
    }

   
}

@media (max-width:850px) {
        
    #gameBoard{
        width:100%;
        margin-top:20px;
        margin-bottom:20px;

        /* background-color: red; */

    }
    .card{
        width: 120px;
        height: 120px;
    }

    img{
        width:70px;
    }

}


@media (max-width:400px) {
    #gameBoard{
        margin: 0;
        /* background-color: blue; */

    }
    .card{
        width: 90px;
        height: 90px;
    }

    img{
        width:50px;
    }
    
}